
header{
    margin: 6%;
    width: 60%;
}
.head-box{
    width: 940px;
    position: absolute;
    top: 10px; left: 0px;
    margin: 0 auto;
}
.head-box img{
    width: 12%;
}
body{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='650' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1461%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(213%2c 222%2c 237%2c 1)'%3e%3c/rect%3e%3cpath d='M -343.9567997092848%2c299 C -271.96%2c267.4 -127.96%2c121.2 16.0432002907152%2c141 C 160.04%2c160.8 232.04%2c396.4 376.0432002907152%2c398 C 520.04%2c399.6 592.04%2c163.8 736.0432002907152%2c149 C 880.04%2c134.2 952.04%2c311.6 1096.0432002907153%2c324 C 1240.04%2c336.4 1387.25%2c208.4 1456.0432002907153%2c211 C 1524.83%2c213.6 1443.21%2c311.8 1440%2c337' stroke='rgba(149%2c 160%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -341.930101799018%2c383 C -269.93%2c353.8 -125.93%2c226.6 18.06989820098198%2c237 C 162.07%2c247.4 234.07%2c447.4 378.069898200982%2c435 C 522.07%2c422.6 594.07%2c177 738.0698982009819%2c175 C 882.07%2c173 954.07%2c414.4 1098.069898200982%2c425 C 1242.07%2c435.6 1389.68%2c252 1458.069898200982%2c228 C 1526.46%2c204 1443.61%2c289.6 1440%2c305' stroke='rgba(149%2c 160%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -122.78336080843752%2c397 C -50.78%2c368.6 93.22%2c255.2 237.21663919156248%2c255 C 381.22%2c254.8 453.22%2c397.6 597.2166391915625%2c396 C 741.22%2c394.4 813.22%2c241.4 957.2166391915625%2c247 C 1101.22%2c252.6 1173.22%2c435.4 1317.2166391915625%2c424 C 1461.22%2c412.6 1652.66%2c190.6 1677.2166391915625%2c190 C 1701.77%2c189.4 1487.44%2c374.8 1440%2c421' stroke='rgba(149%2c 160%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -14.362418877213145%2c195 C 57.64%2c234.6 201.64%2c396 345.63758112278686%2c393 C 489.64%2c390 561.64%2c182.4 705.6375811227869%2c180 C 849.64%2c177.6 921.64%2c378.6 1065.6375811227867%2c381 C 1209.64%2c383.4 1281.64%2c200.8 1425.6375811227867%2c192 C 1569.64%2c183.2 1782.77%2c346.8 1785.6375811227867%2c337 C 1788.51%2c327.2 1509.13%2c181.8 1440%2c143' stroke='rgba(149%2c 160%2c 232%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1461'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");     
width:90%;
margin: 0 auto;
min-width:600px;
max-width:2000px    
    
}
.text-box{
    width: 500px;
    height: 400px;
    text-align: center;
    padding: auto;
    border-radius: 50px;
    background: linear-gradient(45deg, #c0c8d5, #e4eefe);
    box-shadow:  35px -35px 70px #b5bdc9,
                -35px 35px 70px #f5ffff;
    margin: 3%;
    opacity: 0.7;
}
.input {
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px 12px #c5c5c5;
    font-size: medium;
    font-weight: bold;
    max-width: 200px;
    position:relative;
    margin-top: 20%;
}
.input:focus {
    outline-color: white;
    place-content: "ingrese el texto aqui";
}
button {
    margin-left: 6.5%;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #95a0e8;
    border: 1px solid #95a0e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    cursor:pointer;            
}

button:hover {
    border: 1px solid #545f90;
}

button:active {
    box-shadow: 4px 4px 12px #95a0e8,
                -4px -4px 12px #d5deed;
}


